#crowser{
    width: 98%;
    position: relative;
    margin: auto;
    margin-top: 50px;
}
#crowser img{
    width: 100%;
   
}
#crowser button{
    position: absolute;
    top: 40%;
    background-color: rgba(100, 100,100, 0.3);
    border: none;
    font-size: 1.5rem;
    color: rgb(126, 23, 23);
}
#crowser button:nth-child(2){
    left: 10px;
}
#crowser button:nth-child(3){
    right: 10px;
}