form {
  margin: 0 auto;
  width: 30%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;

 
}

label {
  font-size: 20px;
}





* {
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color:  rgb(85, 84, 84);;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

input[type="submit"]:hover {
  background-color:black;
}


h4 {
  text-align: center;
  font-size: 35px;
  font-weight: normal;
 
  font-family: monospace;
  color:black;
  margin-top: 20px;
  margin-bottom: 10px;

}
h5{
  text-align: center;
}
#switch{
     height: 40px;
   margin-left: 120px;
   margin-top: 20px;
   border-radius: 5px;
   border: none;
  
    
}